#app {
  display: flex;
  background: linear-gradient(180deg, rgb(255, 255, 255) 40px, $body-bg 80px);

  form.narrow {
    max-width: 850px;
  }

  section {
    padding: 1rem 0.75rem;
  }

  > aside#sidebar {
    flex: 1 0 176px;
    display: flex;
    flex-direction: column;
    padding: 1.2rem 1.5rem 1rem 2.25rem;
    align-items: stretch;

    @media (max-width: 860px) {
      display: none;
    }

    > header {
      padding: 1rem 0;
      text-align: center;
      margin-bottom: 3rem;

      a {
        color: lighten($brand-grey-dark, 20%);
        &:hover {
          text-decoration: none;
          color: $brand-grey-dark;
        }
      }
    }

    > nav {
      margin-left: 1rem;
      margin-bottom: 2rem;

      > a {
        display: block;
      }
    }
  }

  > main#main {
    padding: 1rem 0;
    flex: 1 1 100%;

    > nav#siteNav {
      display: flex;
      justify-content: flex-end;

      > * {
        margin: 0.1rem 1rem;
      }
    }

    > section#content {
      padding-top: 0;

      > header {
        display: flex;
        justify-content: space-between;

        > #search {
          flex: 1 0 275px;
          padding: 0.75rem 0;
          margin-left: 1rem;

          @media (max-width: 900px) {
            flex: 1 0 150px;
          }

          .form-group {
            display: inline-block;
            margin-bottom: 0;
            vertical-align: middle;
            width: 100%;

            .input-group {
              width: 100%;
            }

            input {
              width: 100%;
            }
          }
        }
      }

      article#page-content {
        font-size: 14px;
        padding: 24px;
        margin-right: -0.75rem;
        border: 1px solid $laravel-border-color;
        border-right-width: 0;
        background-color: rgb(255, 255, 255);
        min-height: 50rem;

        > header {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid rgb(162, 169, 177);
          margin-bottom: 1.45rem;

          > nav {
            display: flex;
            padding-bottom: 0.6rem;

            @media (max-width: 750px) {
              flex-direction: column;
            }

            > * {
              margin: 0.1rem 0.3rem;
            }
          }

          h1, h2, h3, h4, h5, h6 {
            margin: 0;
            border: none;
          }
        }

        section#page-text {
          padding: 0;
          margin-bottom: 5rem;
        }

        p.meta {
          margin-left: 3rem;
          color: $gray;
          margin-top: -0.85rem;
          margin-bottom: 1.5rem;
          font-style: italic;
        }
      }

    }

    footer {
      padding: 1rem 1.2rem;
    }

  }
}

.form-group.left-align {
  text-align: right;
}

.mobile-only {
  display: block;
  @media (min-width: 860px) {
    display: none;
  }
}

#warnings-tray {
  display: flex;
  flex-direction: column;
  align-items: center;

  > * {
    display: flex;
    align-items: center;
    flex: 1 0;
    width: 60%;
    margin-bottom: 2rem;

    > .icon {
      font-size: 3rem;
      margin: 0 1rem;
    }

    > .body {
      margin-left: 1.5rem;
    }

    @media (max-width: 1320px) and (min-width: 750px) {
      width: 90%;
    }

    @media (max-width: 750px) {
      width: 100%;
    }
  }
}

form {
  div[class^="col-"], div[class*=" col-"] {
    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    @media (max-width: $screen-sm-max) {
      padding: 0;
    }
  }
}

.text-columns {
  column-count: 3;
  column-gap: 1.5rem;

  > * {
    break-inside: avoid;

    &:first-child {
      h1, h2, h3, h4, h5, h6 {
        margin-top: 0 !important;
      }
    }
  }

  > dt {
    break-after: avoid;
  }

  > dd {
    break-before: avoid;
  }

  @media (min-width: 785px) and (max-width: 1024px) {
    column-count: 2;
  }

  @media (max-width: 785px) {
    column-count: 1;
  }
}