#tabs {
  flex: 1 1 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  > nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    > * {
      padding: 8px 8px;
      border: 1px solid $laravel-border-color;
      margin: 0 0.3rem -1px 0.3rem;
      border-top-left-radius: $border-radius-base;
      border-top-right-radius: $border-radius-base;
      background: lighten($laravel-border-color, 25%);

      &:before {

      }

      &:first-of-type {
        margin-left: 0;
      }

      &:not(.mobile-only) {
        @media (max-width: 860px) {
          display: none;
        }
      }

      &:hover {
        text-decoration: none;
        background: lighten($laravel-border-color, 20%);
      }

      &.active {
        background: #fff;
        color: $text-color;
        border-bottom-color: #fff;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.dropdown.open nav.dropdown-menu {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  align-items: stretch;

  &.dropdown-menu-right {
    > * {
      text-align: right;
    }
  }

  > * {
    padding: 0.4rem 1.25rem;
    color: $dropdown-link-color;
  }

  > a {
    &:hover {
      background-color: $dropdown-link-hover-bg;
      color: $dropdown-link-hover-color;
      text-decoration: none;
    }

    &.active {
      display: none;
    }
  }
}