.wiki-box {
  background-color: whitesmoke;
  border: 1px solid darken(whitesmoke, 20%);
  padding: 1rem;
  margin: 0.5rem 0.2rem;

  &.squashed {
    display: inline-block;

    @media (max-width: 860px) {
      display: block;
    }
  }

  &.red {
    border: 1px solid darken($brand-red, 20%);
    border-left: 8px solid $brand-red;

    > .icon {
      color: $brand-red;
    }
  }

  &.blue {
    border: 1px solid darken($brand-blue, 20%);
    border-left: 8px solid $brand-blue;

    > .icon {
      color: $brand-blue;
    }
  }

  &.green {
    border: 1px solid darken($brand-green, 20%);
    border-left: 8px solid $brand-green;

    > .icon {
      color: $brand-green;
    }
  }

  &.yellow {
    border: 1px solid darken($brand-yellow, 20%);
    border-left: 8px solid $brand-yellow;

    > .icon {
      color: $brand-yellow;
    }
  }

  &.purple {
    border: 1px solid darken($brand-purple, 20%);
    border-left: 8px solid $brand-purple;

    > .icon {
      color: $brand-purple;
    }
  }

  &#contents {
    header {
      text-align: center;
      margin-bottom: 1rem;
      font-weight: bold;

      a {
        font-weight: 300;
      }
    }

    ol {
      padding-left: 2.75rem;
      margin-right: 2.75rem;
    }
  }
}

form .wiki-box {
  margin-bottom: 1.5rem;
}

div.info-box {
  background-color: whitesmoke;
  border: 1px solid darken(whitesmoke, 20%);
  padding: 1rem;
  margin: 0.5rem 0.2rem;
}

.wiki-box.sidebar {
  max-width: 280px;
  float: right;
  margin: 0 0 8px 8px;
  box-shadow: -8px 8px 0px #fff;

  img {
    max-height: 225px;
    max-width: 100%;
  }

  @media (max-width: 700px) {
    float:none;
    width: 100%;
    max-width: 100%;
    display: block;
    margin: 0;
    box-shadow: none;
    margin-bottom: 1.8rem;

    img {
      max-height: 200px;
      width: auto;
    }
  }

  > section[data-layout="header"] {
    padding: 3px 8px;
    text-align: center;

    h1, h2, h3, h4, h5, h6 {
      margin-top: 0;
    }

    p {
      margin-bottom: 0;
    }
  }

  > section {
    margin-bottom: 0.6rem;
    > header {
      padding: 1px 0;
      grid-column-start: 1;
      grid-column-end: 3;
      text-align: center;
      font-weight: bold;
      background-color: #E6E6FA;

      &.subheader {
        background-color: lighten(#E6E6FA, 15%);

      }
    }

    &.red {
      > header {
        background-color: #F08080;

        &.subheader {
          background-color: lighten(#F08080, 20%);
        }
      }
    }

    &.blue {
      > header {
        background-color: #AFEEEE;

        &.subheader {
          background-color: lighten(#AFEEEE, 20%);
        }
      }
    }

    &.green {
      > header {
        background-color: #98FB98;

        &.subheader {
          background-color: lighten(#98FB98, 20%);
        }
      }
    }

    &.yellow {
      > header {
        background-color: #EEE8AA;

        &.subheader {
          background-color: lighten(#EEE8AA, 20%);
        }
      }
    }

    &.purple {
      > header {
        background-color: #DDA0DD;

        &.subheader {
          background-color: lighten(#DDA0DD, 20%);
        }
      }
    }

    &.tan {
      > header {
        background-color: #D2B48C;

        &.subheader {
          background-color: lighten(#D2B48C, 20%);
        }
      }
    }
  }

  > section[data-layout="normal"] {
    display: grid;
    grid-row-gap: 4px;
    grid-column-gap: 2px;
    grid-template-columns: auto auto;
    font-size: 95%;

    > .key {
      grid-column-start: 1;
      font-weight: bold;
      padding-left: 2px;
    }

    > .value {
      grid-column-start: 2;
      padding-right: 2px;
    }

    .stretch {
      grid-column-start: 1;
      grid-column-end: 3;
      text-align: center;
    }
  }

  > section[data-layout="split"] {
    display: grid;
    grid-column-gap: 2px;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
    font-size: 95%;

    > header {
      margin: 4px 0;
    }

    > .left {
      grid-column-start: 1;
      grid-column-end: 2;
      border-right: 1px dotted grey;
      padding: 2px
    }

    > .right {
      grid-column-start: 2;
      grid-column-end: 3;
      padding: 2px;
    }
  }
}