<section data-layout="normal" class="{{ _color }}">
    <header>{{ header }}</header>
    {{# keys }}
        <div class="key">{{ key }}</div>
        {{# value }}<div class="value">{{ . }}</div>{{/ value }}
    {{/keys}}
</section>