<section data-layout="header">
    <h3>{{ title }}</h3>
    <a href="{{ img_url }}" target="_blank" rel="noopener noreferrer">
        <img src="{{ img_url }}">
    </a>
    <p>{{ caption }}</p>
</section>