<section data-layout="split" class="{{ _color }}">
    <header>{{ header }}</header>
    {{# left }}
        <div class="left">{{ . }}</div>
    {{/left}}
    {{# right }}
        <div class="right">{{ . }}</div>
    {{/right}}
</section>